@charset "utf-8";
div.content-slide { padding: 0 0 40px 0 !important; }
section.container div.row:first-child {
    margin-top: 30px;
}
/* Tiles */
section.container div.col-md-4 a {
    display: block;
    text-decoration: none;
    color: white;
}
section.container div.col-md-4 a div.icon {
    text-align: center;
}
section.container div.col-md-4 a div.icon i {
    font-size: 92px;
}
section.container div.col-md-4 i.fa-arrow-circle-right {
    font-size: 25px;
    opacity: 0.8;
}
section.container div.col-md-4 div.request a div.icon img {
    height: 96px;
}
section.container div.row:first-child {
    margin-bottom: 20px;
}
/* Label */
div.label {
    text-transform: uppercase;
    font-size: 30px;
    font-style: italic;
    text-align: justify;
    display: block;
    padding: 0 0 0 10px;
    line-height: inherit;
    font-weight: normal;
}
div.approvals div.label,
div.popular-requests div.label,
div.requests div.label {
    margin: 0 0 5px 0;
    font-size: 18px;
}
section.container div.col-md-4 div.approvals a div.icon,
section.container div.col-md-4 div.popular-requests a div.icon,
section.container div.col-md-4 div.requests a div.icon {
    float: left;
    margin: 20px 0 0 20px;
}
section.container div.col-md-4 div.approvals div.count,
section.container div.col-md-4 div.popular-requests div.count,
section.container div.col-md-4 div.requests div.count {
    float: right;
    font-size: 80px;
    margin: 0 20px 0 0;
}
/* Details */
div.panel-footer {
    text-transform: uppercase;
}
div.panel-footer div {
    padding: 3px;
}
/* Helper title text */
div.helper-text {
    color: white; 
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 15px;
    right: 15px;
    text-align: center;
    font-size: 18px;
}
div.helper-text div {
    padding: 20px 10px 0 10px;
}
/* Navgiation small devices */
nav.catalog ul.templates,
nav.catalog ul.categories,
nav.catalog ul.breadcrumbs { width: 100%; overflow: hidden; }
nav.catalog ul.templates li,
nav.catalog ul.categories li,
nav.catalog ul.breadcrumbs li,
nav.catalog ul.templates li:first-child {
    padding: 15px 0;
    text-indent: 20px;
    display: block;
    float: left;
    position: relative;
    width: 100%;
    /* This makes the naviation unselectable and smoother user experience */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: inherit; 
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: block;
    vertical-align: text-bottom;
}
nav.catalog div.template-details a { margin: 0 0 0 10px; }
nav.catalog div.template-details p { margin: 10px; overflow: hidden; max-height: 55px; }
nav.catalog div.template-details div.image { float: left; margin: 5px; }
nav.catalog ul.breadcrumbs li {
    text-indent: 5px;
    background: #f2f2f2;
    color: #666;
}
nav.catalog ul.templates li:active,
nav.catalog ul.templates li:hover,
nav.catalog ul.categories li:hover,
nav.catalog ul.categories li:active {
    background-color: #DDD;
    color: #111; 
    text-decoration: none;
}
nav.catalog ul.templates li:hover,
nav.catalog ul.categories li:hover,
nav.catalog ul.breadcrumbs li:hover { cursor: pointer; }
nav.catalog ul.categories li i.fa-chevron-circle-right { float: right; margin: 3px 20px 0 0; }
nav.catalog ul.breadcrumbs li i.fa-chevron-circle-left { float: left; margin: 3px 5px 0 10px; }
nav.catalog ul.breadcrumbs li:not(:last-child) { display: none; }

/* Responsive */
@media (min-width: 767px) {
    div.fixed-header-spacer { height: 90px; }
}
@media (max-width: 767px) {
    header.sub { display: none; }
    section.container { display: none; }
    div.fixed-header-spacer { height: 50px; }
}
@media (max-width: 991px) {
    section.container div.col-md-4 {
        margin-bottom: 10px;
    }
    div.row {
        margin-bottom: 0 !important;
    }
    section.container div.row:first-child {
        margin-top: 10px;
    }
}