@charset "utf-8";

div.fixed-header-spacer {
    height: 110px;
}

/* Loader */
div#loader { float: none; width: auto; text-align: center; margin: 20px auto; clear: both; }

/* Header */
div.console-list div.header nav.submissions-navigation { float: left; }
section.container > nav.submissions-navigation,
div.console-list div.header { display: none; }
div.console-list div.header a.refresh { float: right; margin: 10px; display: none; }
div.console-list div.header span:first-child { margin: 0; }
div.console-list div.header span { font-style: italic; }
div.console-list div.header div.limit-wrap { float: left; margin: 5px 5px 5px 5px; }
div.console-list div.header div.limit-wrap select.limit { margin: 0 5px; width: 60px; height: 24px; font-style: italic; }
div.console-list div.header div.information { float: right; margin: 10px 5px 0 0; clear: both; font-style: italic; }

/* clearfix */
div.console-list div.header { *zoom: 1; }
div.console-list div.header:before,
div.console-list div.header:after { display: table; content: ""; line-height: 0; }
div.console-list div.header:after { clear: both; }
*:first-child+html div.console-list div.header { zoom: 1; } /* IE7 */

/* List */
div.console-list ul.console li { margin: 0 0 10px 0; }
div.console-list ul.console li h4 { margin: 0px; padding: 5px 10px; }
/* Clearfix, for floats */
div.console-list ul.console li { *zoom: 1; }
div.console-list ul.console li:before,
div.console-list ul.console li:after { display: table; content: ""; line-height: 0; }
div.console-list ul.console li:after { clear: both; }
*:first-child+html div.console-list ul.console li { zoom: 1; } /* IE7 */
div.console-list ul.console li div.left { float: left; padding: 5px 10px 5px 0; }
/* div.console-list ul.console li div.left:first-child { width: 290px; }
div.console-list ul.console li div.middle { max-width: 440px; } */
div.console-list ul.console li div.right { padding: 10px 0; } 

/* Image */
div.console-list ul.console li div.content-wrap div.image { float: left; margin: 10px 20px 0 0; }

/* Buttons */
div.console-list ul.console li a.templateButton { margin: 10px 0; width: 160px; }

/* Labels */
div.console-list ul.console li div.submitted-label,
div.console-list ul.console li div.request-id-label,
div.console-list ul.console li div.requested-for-label { font-style: italic; }
div.console-list ul.console li div.request-id-label { float: left; }

/* Values */
div.console-list ul.console li div.submitted-value { font-weight: bold; font-size: 13px; }
div.console-list ul.console li div.request-id-value { font-weight: bold; }
div.console-list ul.console li div.display-status { font-weight: bold; font-size: 14px; }
div.console-list ul.console li div.requested-for-value { font-weight: bold; }
div.console-list ul.console li div.content-wrap div.originating-name { float: left; margin: 0; }

/* Links */
div.console-list ul.console li div.view-request-details { margin: 5px 0 20px 0; }



/* Responsive */
@media (max-width: 991px) {
    div.console-list ul.console li div.right {
        padding: 0;
        float: none;
    }
    div.console-list ul.console li div.left {
        float: none;
        padding: 5px 30px 5px 0;
    }
}
@media (max-width: 767px) {
    div.border-right { border: none; }
}