/****** COLORS **********/

/* backgrounds */
.background-white { background: $white; }
.background-black { background: $black; }
.background-primary { background: $primary; }
.background-primary-lightest { background: $primary-lightest; }
.background-primary-light { background: $primary-light; }
.background-primary-dark { background: $primary-dark; }
.background-primary-darkest { background: $primary-darkest; }
.background-secondary { background: $secondary; }
.background-secondary-compliment { background: $secondary-compliment; }
.background-tertiary { background: $tertiary; }
.background-tertiary-compliment { background: $tertiary-compliment; }
.background-gray-lightest { background: $gray-lightest; }
.background-gray-light { background: $gray-light; }
.background-gray { background: $gray; }
.background-gray-dark { background: $gray-dark; }
.background-gray-darkest { background: $gray-darkest; }

/* font */
.color-white { color: $white; }
.color-black { color: $black; }
.color-primary { color: $primary; }
.color-primary-lightest { color: $primary-lightest; }
.color-primary-light { color: $primary-light; }
.color-primary-dark { color: $primary-dark; }
.color-primary-darkest { color: $primary-darkest; }
.color-secondary { color: $secondary; }
.color-secondary-compliment { color: $secondary-compliment; }
.color-tertiary { color: $tertiary; }
.color-tertiary-compliment { color: $tertiary-compliment; }
.color-gray-lightest { color: $gray-lightest; }
.color-gray-light { color: $gray-light; }
.color-gray { color: $gray; }
.color-gray-dark { color: $gray-dark; }
.color-gray-darkest { color: $gray-darkest; }
/* hovers & focus */
.color-hover-white:hover,.color-hover-white:focus,
.color-hover-white:active,.color-hover-white.active,
.color-hover-white.disabled, .color-hover-white[disabled]{ color: $white; }
.color-hover-black:hover,.color-hover-black:focus,
.color-hover-black:active,.color-hover-black.active,
.color-hover-black.disabled, .color-hover-black[disabled] { color: $black; }
.color-hover-primary:hover,.color-hover-primary:focus,
.color-hover-primary:active,.color-hover-primary.active,
.color-hover-primary.disabled, .color-hover-primary[disabled] { color: $primary; }
.color-hover-secondary:hover,.color-hover-secondary:focus,
.color-hover-secondary:active,.color-hover-secondary.active,
.color-hover-secondary.disabled, .color-hover-secondary[disabled] { color: $secondary; }
.color-hover-tertiary:hover,.color-hover-tertiary:focus,
.color-hover-tertiary:active,.color-hover-tertiary.active,
.color-hover-tertiary.disabled, .color-hover-tertiary[disabled] { color: $tertiary; }
.color-hover-gray-lightest:hover,.color-hover-gray-lightest:focus,
.color-hover-gray-lightest:active,.color-hover-gray-lightest.active,
.color-hover-gray-lightest.disabled, .color-hover-gray-lightest[disabled] { color: $gray-lightest; }
.color-hover-gray-light:hover,.color-hover-gray-light:focus,
.color-hover-gray-light:active,.color-hover-gray-light.active,
.color-hover-gray-light.disabled, .color-hover-gray-light[disabled] { color: $gray-light; }
.color-hover-gray:hover,.color-hover-gray:focus,
.color-hover-gray:active,.color-hover-gray.active,
.color-hover-gray.disabled, .color-hover-gray[disabled] { color: $gray; }
.color-hover-gray-dark:hover,.color-hover-gray-dark:focus,
.color-hover-gray-dark:active,.color-hover-gray-dark.active,
.color-hover-gray-dark.disabled, .color-hover-gray-dark[disabled] { color: $gray-dark; }
.color-hover-gray-darkest:hover,.color-hover-gray-darkest:focus,
.color-hover-gray-darkest:active,.color-hover-gray-darkest.active,
.color-hover-gray-darkest.disabled, .color-hover-gray-darkest[disabled] { color: $gray-darkest; }

/* border */
.border-primary { border-color: $primary; }
.border-primary-lightest { border-color: $primary-lightest; }
.border-primary-light { border-color: $primary-light; }
.border-primary-dark { border-color: $primary-dark; }
.border-primary-darkest { border-color: $primary-darkest; }
.border-secondary { border-color: $secondary; }
.border-secondary-light { border-color: $secondary-light; }
.border-tertiary { border-color: $tertiary; }
.border-tertiary-dark { border-color: $tertiary-dark; }
.border-gray-lightest { border-color: $gray-lightest; }
.border-gray-light { border-color: $gray-light; }
.border-gray { border-color: $gray; }
.border-gray-dark { border-color: $gray-dark; }
.border-gray-darkest { border-color: $gray-darkest; }


/* gradients */
.background-gradient-primary {
    @include gradient(#33ADF6, #007AC3, 0%, 100%);
}
.background-gradient-primary:hover {
    background: #007ac3;
}

.background-hover-gradient-primary:hover {
    @include gradient(#33ADF6, #007AC3, 0%, 100%);
}

.background-gradient-secondary {
    @include gradient(#F89F55, #E16B1E, 0%, 100%);
}
.background-gradient-secondary:hover {
    background: #e16b1e;
}
.background-gradient-tertiary {
    @include gradient(#A0B13A, #546500, 0%, 100%);
}
.background-gradient-tertiary:hover {
  background: #546500;
}
.background-gradient-gray {
    @include gradient(#F5F5F5, #C2C2C2, 0%, 100%);
}
.background-gradient-gray:hover {
  background: #c2c2c2;
}
.btn-default {
    background: transparent;
}
.btn-primary {
  color: $white;
  font-weight: bold;
  @include box-shadow(0 1px 2px rgba(0,0,0,.2));
  @include text-shadow(0 -1px 1px rgba(0,0,0,0.5));
  border: none;
  @include gradient(#33ADF6, #007AC3, 0%, 100%);
}
.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary.active, 
.btn-primary.disabled, .btn-primary[disabled] {
  background: #007ac3; /* Old browsers */
}
.btn-secondary, .templateButton {
  color: $white;
  font-weight: bold;
  @include box-shadow(0 1px 2px rgba(0,0,0,.2));
  @include text-shadow(0 -1px 1px rgba(0,0,0,0.5));
  color: white;
  border: none;
  @include gradient(#F89F55, #E16B1E, 0%, 100%);
}
.btn-secondary:hover, .btn-secondary:focus, 
.btn-secondary:active, .btn-secondary.active, 
.btn-secondary.disabled, .btn-secondary[disabled] {
  background: #E16B1E; /* Old browsers */
}
.templateButton:hover, .templateButton:focus, 
.templateButton:active, .templateButton.active, 
.templateButton.disabled, .templateButton[disabled] {
  background: #E16B1E; /* Old browsers */
  color: $white;
  text-decoration: none;
}
.btn-tertiary {
  color: $white;
  font-weight: bold;
  @include box-shadow(0 1px 2px rgba(0,0,0,.2));
  @include text-shadow(0 -1px 1px rgba(0,0,0,0.5));
  border: none;
  @include gradient(#A0B13A, #546500, 0%, 100%);
}
.btn-tertiary:hover, .btn-tertiary:focus, 
.btn-tertiary:active, .btn-tertiary.active, 
.btn-tertiary.disabled, .btn-tertiary[disabled] {
  background: #546500; /* Old browsers */
}
select, textarea,
input, .uneditable-input {
  border-color: $gray;
}
textarea:focus, 
input:focus, 
.uneditable-input:focus {
  border-color: #007AC3;
}
.well {
  background-color: $gray-lightest;
}
.dropdown-menu li a .description {
    color: $gray;
}

/****** END COLORS **********/