@charset "utf-8";

header.container { margin: 24px auto 20px auto; }
header div.wrap-float { float: left; width: 880px; }
header div.wrap h2,
header div.wrap-float h2 { margin: 10px 0; }
header div.description { font-size: 14px; }
header div.category-image { margin: 10px 0; width: 80px; float: left; }
header div.category-image img { height: 60px; width: 60px; }